@use '../../assets/styles/variables' as variables;

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: variables.$secondaryBackground;
    box-shadow: variables.$boxShadow;
}