$white: #F9F9F9;
$black: #030712;
$warningColor: #F7B801;
$dangerColor: #DB5A42;
$successColor: #4CB963;
$mainBackground: var(--main-background); // used basically for the whole base layout
$secondaryBackground: var(--secondary-background); // used for the secondary layout, like the sidebar, cards etc 
$borderColor: var(--border-color);

$boxShadow: var(--box-shadow, none);

$borderRadius: 10px;

$spacers: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem
);

@media (prefers-color-scheme: dark) {
    :root {
        --main-background: #030712; // used basically for the whole base layout
        --secondary-background: #10141e; // used for the secondary layout, like the sidebar, cards etc
        --border-color: transparent;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-background: #F9F9F9; // used basically for the whole base layout
        --secondary-background: #F9F9F9; // used for the secondary layout, like the sidebar, cards etc
        --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        --border-color: #f2f2f2;
    }
}